$prussian-blue: #032F44ff;
$lemon-chiffon: #F9F3CCff;
$bright-pink-crayola: #F75964ff;
$moonstone: #25A5B1ff;
$pumpkin: #F0782Eff;

.HomePage {
  min-height: 67vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  color: $lemon-chiffon;
}

.cards-container {
  
  border-radius: 25px;
  width: 69vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2vw;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  gap: 8%;
  background-color: $bright-pink-crayola;


  .card_player {
    position: relative;
    width: 19vw;
    aspect-ratio: 1/1;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
     



    img {
      position: absolute;
      height: 100%;
      overflow: hidden;
      transition: transform 0.3s ease-in-out;
      clip-path: polygon(0 0, 100% 0%, 100% 82%, 0 82%);
      z-index: 1;
    }
    img:hover {
      transform: scale(1.2); /* Agrandit l'image de 20% au survol */
      z-index: 1;
      
  }

    h2 {
      position: absolute;
      margin: 0;
      padding: 5%;
      z-index: 1;
      width: 90%;
      text-align: center;
      font-family: "Jersey 10", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: xx-large;
      bottom: 0;
      border-radius: 12px;
      background-color: $prussian-blue;
    }
  }
}